<ul class="tasks">
  <li
    class="task"
    [class.assigned]="task.assignee"
    [class.done]="task.done"
    *ngFor="let task of tasks"
  >
    <div class="task-header">
      <div class="check">
        <img class="check-icon" src="{{ iconBaseUrl }}check.png" alt="Done!" />
      </div>
      <span class="task-category">
        <img
          class="task-category-icon"
          src="{{ iconBaseUrl }}categories/{{
            task.category || defaultIcon
          }}.png"
          [alt]="task.category"
        />
      </span>
      <h3 class="task-title">
        {{ task.title }}
      </h3>
    </div>
    <div class="task-desc" *ngIf="task.desc">
      {{ task.desc }}
    </div>
    <div class="task-extra">
      <div class="task-cost">
        Награда: {{ task.cost | time }}
        <img
          class="task-cost-icon"
          src="{{ iconBaseUrl }}gadget.png"
          alt="gadget"
        />
      </div>
      <div class="task-due-date" *ngIf="task.due_date && !task.done">
        Выполнить до {{ task.due_date | date_or_time }}
      </div>
      <div class="task-assignee" *ngIf="task.assignee">
        {{ task.done ? "Выполнил" : "Выполняет" }}:
        <span class="task-assignee-name">
          {{ task.assignee }}
        </span>
      </div>
    </div>
  </li>
</ul>
