.task {
  perspective: 1000;
  -webkit-perspective: 1000;

  &-card {
    position: relative;
    transition: 0.5s;
    transform-style: preserve-3d;

    &.active {
      transform: rotateY(180deg);
    }

    &-front,
    &-back {
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      cursor: pointer;
    }

    &-front {
      transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
    }

    &-back {
      height: 100%;
      left: 0;
      transform: rotateY(-180deg);
      -webkit-transform: rotateY(-180deg);
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &-content {
    background-color: var(--task);
    border-radius: var(--border-radius-l);
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: var(--padding-small);
    height: 100%;
    padding: var(--padding-small) var(--padding);
    width: 100%;

    &:hover:not(.disabled) {
      background-color: var(--task-dark);
    }

    &.outdated {
      border: 4px solid var(--outdated);
      opacity: 0.4;
    }

    &.done {
      background-color: var(--done);

      &:hover:not(.disabled) {
        background-color: var(--done-dark);
      }
    }

    &.rejected {
      background-color: var(--rejected);

      &:hover:not(.disabled) {
        background-color: var(--rejected-dark);
      }
    }

    &.approved {
      background-color: var(--approved);

      &:hover:not(.disabled) {
        background-color: var(--approved-dark);
      }
    }

    &.reviewed {
      background-color: var(--reviewed);

      &:hover:not(.disabled) {
        background-color: var(--reviewed-dark);
      }
    }

    &.blocked {
      background-color: var(--grey-10);
      border: 4px solid var(--blocked);
      opacity: 0.4;
    }

    &.disabled {
      cursor: default;
    }
  }
}
