.task {
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;

  &.active {
    transform: rotateY(180deg);
  }

  &-container {
    perspective: 1000;
    -webkit-perspective: 1000;
  }

  &-content,
  &-menu {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    background-color: var(--task);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: var(--padding-small);
    padding: var(--padding-small) var(--padding);
  }

  &-menu {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: var(--padding-small);
    position: absolute;
    top: 0;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    width: 100%;

    &-content {
      align-items: center;
      display: flex;
      gap: 4px;
      justify-content: center;
      width: 100%;
    }

    &-user {
      flex: auto;
      padding: 0;
    }
  }

  &-content {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);

    &:hover:not(.disabled) {
      background-color: var(--task-dark);
    }

    &.outdated {
      border: 4px solid var(--outdated);
      opacity: 0.4;

      .task-extra-due-date-value {
        color: var(--outdated-text);
        font-weight: 600;
      }
    }

    &.done {
      background-color: var(--done);

      &:hover:not(.disabled) {
        background-color: var(--done-dark);
      }
    }

    &.approved,
    &.unapproved {
      .task-header-approve {
        display: block;
      }

      .task-category {
        opacity: 0.4;
      }
    }

    &.unapproved {
      background-color: var(--unapproved);

      &:hover:not(.disabled) {
        background-color: var(--unapproved-dark);
      }
    }

    &.approved {
      background-color: var(--approved);

      &:hover:not(.disabled) {
        background-color: var(--approved-dark);
      }
    }

    &.reviewed {
      background-color: var(--reviewed);

      &:hover:not(.disabled) {
        background-color: var(--reviewed-dark);
      }
    }

    &.blocked {
      background-color: var(--grey-light);
      border: 4px solid var(--done);
      opacity: 0.4;
    }

    &.disabled {
      cursor: default;
    }
  }

  &-header {
    align-items: center;
    display: flex;
    gap: var(--padding-small);
    position: relative;

    &-approve {
      display: none;
      left: 9px;
      position: absolute;
      top: 9px;
      z-index: 1000;

      &-icon {
        height: 32px;
        width: 32px;
      }
    }
  }

  &-title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin: 0;
  }

  &-desc {
    color: var(--text-light);
    margin-top: 4px;
  }

  &-category {
    background-color: var(--white);
    border: 1px solid var(--text-pale);
    border-radius: 50%;
    padding: 8px;

    &-icon {
      display: block;
      margin: 0 auto;
      max-height: 32px;
      max-width: 32px;
    }
  }

  &-extra {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    gap: var(--padding-small);
    justify-content: flex-start;

    &-icon {
      display: block;
      height: 100%;
      width: 100%;

      &-container {
        height: 16px;
        margin-right: 6px;
        width: 16px;
      }
    }

    &-cost,
    &-status,
    &-due-date {
      align-items: center;
      display: flex;
    }

    &-cost {
      width: 100px;
    }

    &-status {
      width: 150px;
    }

    &-due-date {
      &-value {
        margin-left: 4px;
      }
    }
  }

  &-results {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-name {
      font-weight: 500;
      margin-left: 4px;
    }
    // &-approved {
    //   background-color: var(--success-light);
    // }

    // &-rejected {
    //   background-color: var(--danger-light);
    // }
  }
}
