<li class="task-container">
  <div class="task" [class.active]="showMenu">
    <div
      class="task-content"
      [class.done]="isDone"
      [class.approved]="!isAdmin && isApproved"
      [class.unapproved]="!isAdmin && isUnapproved"
      [class.reviewed]="isAdmin && isReviewed"
      [class.outdated]="isOutdated"
      [class.blocked]="!isAdmin && isBlocked"
      [class.disabled]="isDisabled"
      (click)="flip()"
    >
      <div class="task-header">
        <div class="task-header-approve" *ngIf="!isAdmin">
          <img
            class="task-header-approve-icon"
            src="{{ iconBaseUrl }}check.png"
            alt="Done!"
            *ngIf="isApproved"
          />
          <img
            class="task-header-approve-icon"
            src="{{ iconBaseUrl }}cross.png"
            alt="Try again!"
            *ngIf="!isApproved"
          />
        </div>
        <span class="task-category">
          <img
            class="task-category-icon"
            src="{{ iconBaseUrl }}categories/{{
              task.category || defaultIcon
            }}.png"
            [alt]="task.category"
          />
        </span>
        <div class="task-header-content">
          <h3 class="task-title">
            {{ task.title }}
          </h3>
          <div class="task-desc" *ngIf="task.desc">
            {{ task.desc }}
          </div>
        </div>
      </div>

      <div class="task-extra">
        <div class="task-extra-cost">
          <div class="task-extra-icon-container">
            <img class="task-extra-icon" src="{{ iconBaseUrl }}game.svg" />
          </div>
          {{ task.cost | time }}
        </div>
        <div
          class="task-extra-status"
          *ngIf="!isAdmin && status?.value !== 'default'"
        >
          <div class="task-extra-icon-container">
            <img
              class="task-extra-icon"
              src="{{ iconBaseUrl }}{{ status.icon }}.svg"
            />
          </div>
          {{ status.value | task_status }}
        </div>

        <div class="task-extra-due-date" *ngIf="task.due_date">
          <div class="task-extra-icon-container">
            <img class="task-extra-icon" src="{{ iconBaseUrl }}calendar.svg" />
          </div>
          Срок:
          <span class="task-extra-due-date-value">{{
            task.due_date | date_or_time
          }}</span>
        </div>
      </div>

      <div class="task-results" *ngIf="isAdmin && task.results.length > 0">
        <div class="task-results-done" *ngIf="task.results.length > 0">
          Выполнено:
          <span class="task-results-name">
            {{ doneByUsers | usernames }}
          </span>
        </div>
        <div class="task-results-approved" *ngIf="approvedFor.length > 0">
          Одобрено:
          <span class="task-results-name">
            {{ approvedFor | usernames }}
          </span>
        </div>
        <div class="task-results-rejected" *ngIf="rejectedFor.length > 0">
          Отклонено:
          <span class="task-results-name">
            {{ rejectedFor | usernames }}
          </span>
        </div>
      </div>
    </div>
    <div class="task-menu" [formGroup]="form" (click)="flip()">
      <div class="task-menu-content" *ngIf="isAdmin">
        <div class="task-menu-user">
          <select
            class="styled-form-input"
            formControlName="selected_user"
            (click)="stopPropagation($event)"
          >
            <option
              [value]="user.id"
              *ngFor="let user of doneByUsers; let i = index"
            >
              {{ user.name }}
            </option>
          </select>
        </div>
        <styled-button
          color="green"
          icon="{{ iconBaseUrl }}check_white.svg"
          [isDisabled]="isApproved"
          (click)="review({ approved: true })"
        >
        </styled-button>
        <styled-button
          color="red"
          icon="{{ iconBaseUrl }}cross_white.svg"
          [isDisabled]="isUnapproved"
          (click)="review({ approved: false })"
        >
        </styled-button>
      </div>
      <div class="task-menu-content" *ngIf="!isAdmin">
        <styled-button color="green" (click)="markAsDone()">
          Уже готово!
        </styled-button>
        <styled-button color="red" (click)="markAsNotDone()">
          Ой, ещё нет
        </styled-button>
      </div>
    </div>
  </div>
</li>
