<div class="styled-form-group" [formGroup]="form">
  <label class="styled-form-label" *ngIf="label">{{ label }}</label>
  <input
    class="styled-form-input"
    [type]="type"
    [attr.pattern]="pattern"
    [attr.min]="type === 'number' && min ? min : null"
    [attr.max]="type === 'number' && max ? max : null"
    [attr.step]="type === 'number' && step ? step : null"
    [placeholder]="placeholder"
    formControlName="value"
    [class.error]="error"
    (focus)="handleFocus()"
    (keydown)="handleKeyDown()"
  />
</div>
