<div class="task-edit">
  <h2 *ngIf="!editMode">Новое задание</h2>
  <h2 *ngIf="editMode">Редактировать задание</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="styled-form-group">
      <label for="task-category" class="styled-form-label"> Категория </label>
      <select
        class="styled-form-input"
        formControlName="category"
        [class.error]="!!(error && form.controls.category.errors)"
      >
        <option
          [value]="taskCategoryValue"
          *ngFor="let taskCategoryValue of taskCategories; let i = index"
        >
          {{ taskCategoryValue | category }}
        </option>
      </select>
      <styled-validation-message
        [form]="form"
        inputName="category"
        [inputError]="['required']"
        [show]="error"
      >
        Выберите хотя бы одну категорию!
      </styled-validation-message>
    </div>

    <styled-input
      formControlName="title"
      label="Задание"
      placeholder="Почистить картошку"
      [error]="!!(error && form.controls.title.errors)"
      (onFocus)="resetError()"
    ></styled-input>
    <styled-validation-message
      [form]="form"
      inputName="title"
      [inputError]="['required']"
      [show]="error"
    >
      Придумайте задание!
    </styled-validation-message>

    <div class="styled-form-group">
      <label for="task-description" class="styled-form-label">
        Описание <span class="task-edit-comment">(необязательно)</span>
      </label>
      <textarea
        formControlName="desc"
        placeholder="Взять три крупных картофелины и снять с каждой по очереди кожуру"
        class="styled-form-textarea"
        id="task-description"
      ></textarea>
    </div>

    <styled-input
      formControlName="cost"
      label="Цена"
      placeholder="30"
      type="number"
      min="5"
      step="5"
      [error]="
        !!(
          (error && form.controls.cost.errors) ||
          form.controls.cost.errors?.pattern
        )
      "
      (onFocus)="resetError()"
    ></styled-input>
    <styled-validation-message
      [form]="form"
      inputName="cost"
      [inputError]="['required']"
      [show]="error"
    >
      Укажите цену!
    </styled-validation-message>
    <styled-validation-message
      [form]="form"
      inputName="cost"
      [inputError]="['pattern']"
    >
      Некорректная цена!
    </styled-validation-message>
    <styled-validation-message
      [form]="form"
      inputName="cost"
      [inputError]="['min']"
      [show]="error"
    >
      Вы уверены, что за это задание не положено вознаграждение? Тогда отметьте
      его как бесплатное
    </styled-validation-message>

    <styled-checkbox (onValueChange)="updateDueDate($event)">
      Бесплатное задание
    </styled-checkbox>

    <styled-checkbox (onValueChange)="updateDueDate($event)">
      Срок выполнения
    </styled-checkbox>
    <ng-container *ngIf="hasDueDate">
      <styled-date
        formControlName="due_date"
        [error]="
          !!(
            (error && form.controls.due_date.errors) ||
            form.controls.due_date.errors?.invalidDate ||
            form.controls.due_date.errors?.isBeforeToday
          )
        "
      ></styled-date>
      <styled-validation-message
        [form]="form"
        inputName="due_date"
        [inputError]="['required']"
        [show]="error || form.controls.due_date.errors?.invalidDate"
      >
        Укажите срок!
      </styled-validation-message>
      <styled-validation-message
        [form]="form"
        inputName="due_date"
        [inputError]="['invalidDate']"
      >
        Некорректная дата!
      </styled-validation-message>
      <styled-validation-message
        [form]="form"
        inputName="due_date"
        [inputError]="['isBeforeToday']"
        *ngIf="!form.controls.due_date.errors?.invalidDate"
      >
        Можно указать только дату в будущем!
      </styled-validation-message>
    </ng-container>

    <styled-checkbox (onValueChange)="updatePeriod($event)">
      Повторять
    </styled-checkbox>
    <ng-container *ngIf="isPeriodic">
      <select class="styled-form-input" formControlName="period">
        <option
          [value]="taskPeriodValue"
          *ngFor="let taskPeriodValue of taskPeriods; let i = index"
        >
          {{ taskPeriodValue | period }}
        </option>
      </select>
      <styled-validation-message
        [form]="form"
        inputName="period"
        [inputError]="['required']"
        [show]="error"
      >
        Выберите периодичность!
      </styled-validation-message>
    </ng-container>

    <styled-checkbox formControlName="allowMultipleCompletitions">
      Можно выполнить несколько раз
    </styled-checkbox>

    <div class="task-edit-buttons">
      <styled-button color="blue" type="submit">Готово</styled-button>
    </div>
  </form>
</div>
