<div class="task-edit" [ngSwitch]="true">
  <h2 *ngSwitchCase="!editMode">Новое задание</h2>
  <h2 *ngSwitchCase="editMode && !!currentTask">Редактировать задание</h2>
  <styled-error *ngSwitchDefault>
    <p>Задание не найдено!</p>
    <p>
      Чтобы вернуться на главную страницу, нажмите
      <styled-link [onDark]="true">сюда</styled-link>.
    </p>
  </styled-error>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    *ngIf="currentTask || !editMode"
  >
    <div class="styled-form-group">
      <label for="task-category" class="styled-form-label"> Категория </label>
      <select
        class="styled-form-input"
        formControlName="category"
        [class.error]="!!(error && form.controls.category.errors)"
      >
        <option
          [value]="taskCategoryValue"
          *ngFor="let taskCategoryValue of taskCategories; let i = index"
        >
          {{ taskCategoryValue | category }}
        </option>
      </select>
      <styled-validation-message
        [form]="form"
        inputName="category"
        [inputError]="['required']"
        [show]="error"
      >
        Выберите хотя бы одну категорию!
      </styled-validation-message>
    </div>

    <styled-input
      formControlName="title"
      label="Задание"
      placeholder="Почистить картошку"
      [error]="!!(error && form.controls.title.errors)"
      (onFocus)="resetError()"
    ></styled-input>
    <styled-validation-message
      [form]="form"
      inputName="title"
      [inputError]="['required']"
      [show]="error"
    >
      Придумайте задание!
    </styled-validation-message>

    <div class="styled-form-group">
      <label for="task-description" class="styled-form-label">
        Описание <span class="task-edit-comment">(необязательно)</span>
      </label>
      <textarea
        formControlName="desc"
        placeholder="Взять три крупных картофелины и снять с каждой по очереди кожуру"
        class="styled-form-textarea"
        id="task-description"
      ></textarea>
    </div>

    <styled-input
      formControlName="cost"
      label="Цена"
      placeholder="30"
      type="number"
      min="5"
      step="5"
      [error]="
        !!(
          (error && form.controls.cost.errors) ||
          form.controls.cost.errors?.pattern
        )
      "
      (onFocus)="resetError()"
    ></styled-input>
    <styled-validation-message
      [form]="form"
      inputName="cost"
      [inputError]="['required']"
      [show]="error"
    >
      Укажите цену!
    </styled-validation-message>
    <styled-validation-message
      [form]="form"
      inputName="cost"
      [inputError]="['pattern']"
    >
      Некорректная цена!
    </styled-validation-message>
    <styled-validation-message
      [form]="form"
      inputName="cost"
      [inputError]="['min']"
      [show]="error"
      *ngIf="!isFree"
    >
      Вы уверены, что за это задание не положено вознаграждение? Тогда отметьте
      его как бесплатное
    </styled-validation-message>

    <ng-container [formGroup]="isFree">
      <styled-checkbox formControlName="value">
        Бесплатное задание
      </styled-checkbox>
    </ng-container>

    <ng-container [formGroup]="hasDueDate">
      <styled-checkbox formControlName="value">
        Срок выполнения
      </styled-checkbox>
    </ng-container>
    <ng-container *ngIf="hasDueDate">
      <styled-date
        formControlName="due_date"
        [error]="
          !!(
            (error && form.controls.due_date.errors) ||
            form.controls.due_date.errors?.invalidDate ||
            form.controls.due_date.errors?.isBeforeToday
          )
        "
      ></styled-date>
      <styled-validation-message
        [form]="form"
        inputName="due_date"
        [inputError]="['required']"
        [show]="error || form.controls.due_date.errors?.invalidDate"
      >
        Укажите срок!
      </styled-validation-message>
      <styled-validation-message
        [form]="form"
        inputName="due_date"
        [inputError]="['invalidDate']"
      >
        Некорректная дата!
      </styled-validation-message>
      <styled-validation-message
        [form]="form"
        inputName="due_date"
        [inputError]="['isBeforeToday']"
        *ngIf="!form.controls.due_date.errors?.invalidDate"
      >
        Можно указать только дату в будущем!
      </styled-validation-message>
    </ng-container>

    <ng-container [formGroup]="isPeriodic">
      <styled-checkbox formControlName="value"> Повторять </styled-checkbox>
    </ng-container>
    <ng-container *ngIf="isPeriodic.value.value">
      <select class="styled-form-input" formControlName="period">
        <option
          [value]="taskPeriodValue"
          *ngFor="let taskPeriodValue of taskPeriods; let i = index"
        >
          {{ taskPeriodValue | period }}
        </option>
      </select>
      <styled-validation-message
        [form]="form"
        inputName="period"
        [inputError]="['required']"
        [show]="error"
      >
        Выберите периодичность!
      </styled-validation-message>
    </ng-container>

    <styled-checkbox formControlName="repeatable">
      Можно выполнить несколько раз
    </styled-checkbox>
    <ng-container
      [formGroup]="hasNoRepeatsLimit"
      *ngIf="form.controls.repeatable.value"
    >
      <styled-checkbox formControlName="value">
        Можно выполнять неограниченно
      </styled-checkbox>
    </ng-container>

    <ng-container
      *ngIf="
        form.controls.repeatable.value &&
        !hasNoRepeatsLimit.controls.value.value
      "
    >
      <styled-input
        formControlName="maxRepeats"
        label="Сколько раз можно выполнить (всего)"
        placeholder="5"
        type="number"
        min="1"
        step="1"
        [error]="
          !!(
            (error && form.controls.cost.errors) ||
            form.controls.cost.errors?.pattern
          )
        "
        (onFocus)="resetError()"
      ></styled-input>
      <styled-validation-message
        [form]="form"
        inputName="maxRepeats"
        [inputError]="['required']"
        [show]="error"
      >
        Укажите количество повторов!
      </styled-validation-message>
      <styled-validation-message
        [form]="form"
        inputName="maxRepeats"
        [inputError]="['pattern', 'min']"
      >
        Некорректное количество повторов!
      </styled-validation-message>
    </ng-container>

    <div class="task-edit-buttons">
      <styled-button color="blue" type="submit" [isDisabled]="!form.valid"
        >Сохранить</styled-button
      >
      <styled-button color="yellow" (click)="resetForm()"
        >Сбросить</styled-button
      >
      <styled-button color="red" (click)="deleteTask()" *ngIf="editMode">
        Удалить задание
      </styled-button>
    </div>
  </form>
</div>
