<ad-demo-card title="Date" [inputs]="inputs" [formGroup]="form">
  <ad-demo-example title="Default">
    <styled-date formControlName="default"></styled-date>
  </ad-demo-example>
  <ad-demo-example title="Filled">
    <styled-date formControlName="filled"></styled-date>
  </ad-demo-example>
  <ad-demo-example title="Disabled">
    <styled-date formControlName="disabled"></styled-date>
  </ad-demo-example>
  <ad-demo-example title="Error">
    <styled-date formControlName="error" [error]="true"></styled-date>
  </ad-demo-example>
</ad-demo-card>
