<div class="task-header">
  <div
    class="task-header-approve"
    [class.approved]="isApproved"
    [class.unapproved]="isUnapproved"
    *ngIf="!isAdmin"
  >
    <img
      class="task-header-approve-icon"
      src="{{ iconBaseUrl }}check.png"
      alt="Done!"
      *ngIf="isApproved"
    />
    <img
      class="task-header-approve-icon"
      src="{{ iconBaseUrl }}cross.png"
      alt="Try again!"
      *ngIf="isUnapproved"
    />
  </div>
  <span class="task-header-category">
    <img
      class="task-header-category-icon"
      src="{{ iconBaseUrl }}categories/{{ task.category || defaultIcon }}.png"
      [alt]="task.category"
    />
  </span>
  <div class="task-header-content">
    <h3 class="task-header-content-title">
      {{ task.title }}
    </h3>
    <div class="task-header-content-desc" *ngIf="task.desc">
      {{ task.desc }}
    </div>
  </div>
</div>
