.footer {
  align-items: center;
  display: flex;
  font-size: 12px;
  padding: var(--padding-small);

  &-credits {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &-signature {
    font-family: "Comforter Brush", cursive;
    font-size: 24px;
    margin-left: auto;

    a {
      border-radius: var(--border-radius-s);
      color: var(--text);
      display: block;
      padding: 4px 12px;
      text-decoration: none;

      &:hover {
        background: var(--grey-light);
        color: var(--text-dark);
      }
    }
  }
}
