<div class="task-menu">
  <ng-container *ngIf="isAdmin">
    <div class="task-menu-user">
      <select
        class="styled-form-input"
        formControlName="selected_user"
        (click)="stopPropagation($event)"
      >
        <option
          [value]="user.id"
          *ngFor="let user of doneByUsers; let i = index"
        >
          {{ user.name }}
        </option>
      </select>
    </div>
    <styled-button
      color="green"
      icon="{{ iconBaseUrl }}check_white.svg"
      [isDisabled]="status?.value === taskStatus.Approved.value"
      (click)="review(taskResultDecision.Approved)"
    >
    </styled-button>
    <styled-button
      color="red"
      icon="{{ iconBaseUrl }}cross_white.svg"
      [isDisabled]="status?.value === taskStatus.Rejected.value"
      (click)="review(taskResultDecision.Rejected)"
    >
    </styled-button>
  </ng-container>
  <ng-container *ngIf="!isAdmin">
    <styled-button
      color="green"
      [isDisabled]="!task.repeatable && status.value === taskStatus.Done.value"
      (click)="markAsDone()"
      *ngIf="!task.repeatable || !result || status === taskStatus.Rejected"
    >
      Уже готово!
    </styled-button>

    <styled-button
      color="green"
      [isDisabled]="repeats === task.maxRepeats"
      (click)="markAsDone()"
      *ngIf="
        task.repeatable && result?.repeats > 0 && status !== taskStatus.Rejected
      "
    >
      И ещё раз!
    </styled-button>

    <styled-button
      color="red"
      [isDisabled]="status.value !== taskStatus.Done.value"
      (click)="markAsNotDone()"
    >
      Ещё не готово
    </styled-button>
  </ng-container>
</div>
