@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Underdog&family=Montserrat:wght@100;400;500;600;700&display=swap");
@import "./assets/styles/form.scss";

:root {
  --black: #000000;
  --white: #ffffff;
  --background-lighter: #f5f5f5;
  --background-darker: #efefef;
  --text: #555555;
  --text-dark: #333333;
  --text-light: #777777;
  --text-pale: #aaaaaa;
  --grey: #dddddd;
  --grey-dark: #c3c0bb;
  --grey-light: #eeeeee;
  --shadow: rgba(0, 0, 0, 0.3);

  --primary: #376d3f;
  --primary-dark: #29512f;
  --primary-light: #d5eae0;
  --secondary: #dcb450;
  --secondary-dark: #daaf44;
  --secondary-light: #e0d19c;
  --danger: #f44336;
  --danger-dark: #e53935;
  --danger-light: #ef5350;
  --success: #4caf50;
  --success-dark: #43a047;
  --success-light: #66bb6a;
  --warning: #fbc02d;
  --warning-dark: #f9a825;
  --warning-light: #fdd835;
  --info: #1976d2;
  --info-dark: #1565c0;
  --info-light: #1e88e5;
  --box-shadow-basic: 0 2px 5px var(--shadow);
  --box-shadow-light: 0px 8px 24px var(--shadow);
  --border-basic: 1px solid var(--grey-dark);
  --transition-basic: all 0.2s ease-in-out;
  --padding: 40px;
  --padding-small: 20px;

  --task: #eeeeee;
  --task-dark: #e0e0e0;
  --task-light: #f5f5f5;
  --outdated: #ffcab1;
  --outdated-text: #ff8f5c;
  --outdated-light: #ffe3d6;
  --approved: #ffe085;
  --approved-dark: #ffdb70;
  --approved-light: #ffe699;
  --rejected: #fcc5c5;
  --rejected-dark: #fbb1b1;
  --rejected-light: #fdd8d8;
  --done: #c5e1a5;
  --done-dark: #badb94;
  --done-light: #cee6b3;
  --reviewed: #d0f0f1;
  --reviewed-dark: #c0ebec;
  --reviewed-light: #e0f5f6;
  --blocked: #627264;

  --max-width: 600px;

  --mobile: 768px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--text);
  font: normal 16px "Montserrat", sans-serif;
  min-height: 100vh;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

img {
  display: block;
}

a {
  color: var(--primary);
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: var(--primary-dark);
  }
}
