.task-sidebar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  gap: var(--padding-small);
  justify-content: flex-start;

  &-icon {
    display: block;
    height: 100%;
    width: 100%;

    &-container {
      height: 16px;
      margin-right: 6px;
      width: 16px;
    }
  }

  &-cost,
  &-status,
  &-date {
    align-items: center;
    display: flex;
  }

  &-cost {
    width: 100px;
  }

  &-status {
    width: 125px;
  }

  &-date {
    &-value {
      margin-left: 4px;
    }
  }

  &.outdated {
    .task-sidebar-date {
      font-weight: 500;
      text-decoration: line-through;
      text-decoration-thickness: 1.5px;
    }
  }
}
