<div
  class="task-sidebar"
  title="Награда за задание"
  [class.outdated]="isOutdated"
>
  <div class="task-sidebar-cost">
    <div class="task-sidebar-icon-container">
      <styled-img
        class="task-sidebar-icon"
        src="clock.svg"
        type="svg"
        [stretch]="true"
      ></styled-img>
    </div>
    {{ task.cost || 0 | time }}
  </div>
  <div
    class="task-sidebar-status"
    title="Статус задания"
    *ngIf="!isAdmin && status.value !== taskStatus.Default.value"
  >
    <div class="task-sidebar-icon-container">
      <styled-img
        class="task-sidebar-icon"
        [src]="status.icon"
        type="svg"
        [stretch]="true"
      ></styled-img>
    </div>
    {{ status.text }}
  </div>

  <div
    class="task-sidebar-repeats"
    *ngIf="task.repeatable && result?.repeats > 0"
  >
    <div class="task-sidebar-icon-container">
      <styled-img
        class="task-sidebar-icon"
        src="checklist.svg"
        type="svg"
        [stretch]="true"
      ></styled-img>
    </div>
    {{ result.repeats }}
    <ng-container *ngIf="task.maxRepeats > 1">
      / {{ task.maxRepeats }}</ng-container
    >
  </div>

  <div
    class="task-sidebar-date"
    title="Выполнить до указанной даты"
    *ngIf="task.due_date"
  >
    <div class="task-sidebar-icon-container">
      <styled-img
        class="task-sidebar-icon"
        src="calendar.svg"
        type="svg"
        [stretch]="true"
      ></styled-img>
    </div>
    {{ task.due_date | date_or_time }}
  </div>
</div>
