<button
  class="styled-button"
  [ngClass]="color"
  [type]="type"
  [class.no-padding]="noPadding"
  [disabled]="isDisabled || null"
>
  <div class="styled-button-content">
    <styled-img
      class="styled-button-icon"
      [class.icon-right]="iconRight"
      [ngStyle]="iconColor && { color: iconColor }"
      [src]="iconUrl"
      [type]="iconType"
      [height]="iconHeight"
      [width]="iconWidth"
      [stretch]="true"
      *ngIf="iconUrl"
    ></styled-img>
    <ng-content></ng-content>
  </div>
</button>
